.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16rem;
  padding: 3rem 1rem;
  background-color: #0b1e3d;
  flex-wrap: wrap;
  align-items: center;
}

.imageContainer {
  flex-shrink: 0;
}

.bannerPicture {
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 50rem;
  height: auto;
}

.textContainer {
  flex: 1;
  background: #5ea0ddf5;
  padding: 2rem;
  border-radius: 20px;
  border: 5px solid #0b5694;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  max-width: 600px;
}

.scrollText {
  max-height: 460px;
  overflow-y: auto;
  padding-right: 0.5rem;
  font-size: 1rem;
  line-height: 1.7;
  color: #0b1e3d;
  font-weight: 500;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.scrollText::-webkit-scrollbar {
  width: 6px;
}

.scrollText::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.highlight {
  font-weight: 700;
  color: rgb(221, 190, 13);
}

/* Responsivo */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    max-width: 100%;
  }

  .imageContainer {
    max-width: 100%;
  }

  .bannerPicture {
    width: 100%;
    max-width: 90vw; /* para garantir que não ultrapasse a tela */
    height: auto;
  }
}
